# ============================================
# Development Profile Configuration
# ============================================

logging:
  level:
    com.ifm.projectmgmt: TRACE
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

spring:
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true

  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true
