services:
  # Backend API
  api:
    build: ./ifm-project-mgmt-api
    container_name: ifm-project-mgmt-api
    ports:
      - "8080:8080"
    networks:
      - ifm-project-mgmt-network

  # Frontend Web
  web:
    build:
      context: ./ifm-project-mgmt-web
      args:
        VITE_API_TARGET: http://api:8080
    container_name: ifm-project-mgmt-web
    ports:
      - "3000:3000"
    depends_on:
      - api
    networks:
      - ifm-project-mgmt-network

networks:
  ifm-project-mgmt-network:
